@font-face {
  font-family: 'fuzzy_bubblesregular';
  src: url('./font/fuzzybubbles-regular-webfont.eot');
  src: url('./font/fuzzybubbles-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./font/fuzzybubbles-regular-webfont.woff') format('woff'),
        url('./font/fuzzybubbles-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhanilight';
  src: url('./font/rajdhani-light-webfont.eot');
  src: url('./font/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-light-webfont.woff') format('woff'),
       url('./font/rajdhani-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rajdhanimedium';
  src: url('./font/rajdhani-medium-webfont.eot');
  src: url('./font/rajdhani-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-medium-webfont.woff') format('woff'),
       url('./font/rajdhani-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rajdhaniregular';
  src: url('./font/rajdhani-regular-webfont.eot');
  src: url('./font/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-regular-webfont.woff') format('woff'),
       url('./font/rajdhani-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rajdhanisemibold';
  src: url('./font/rajdhani-semibold-webfont.eot');
  src: url('./font/rajdhani-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-semibold-webfont.woff') format('woff'),
       url('./font/rajdhani-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rajdhanibold';
  src: url('./font/rajdhani-bold-webfont.eot');
  src: url('./font/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-bold-webfont.woff') format('woff'),
       url('./font/rajdhani-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rajdhanilight';
  src: url('./font/rajdhani-light-webfont.eot');
  src: url('./font/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./font/rajdhani-light-webfont.woff') format('woff'),
       url('./font/rajdhani-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}