*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $light;
    font-size: 20px;
    color: $beige;
}
h1,
h2,
h3,
h4,
h5{
    font-family: $regular;
    text-transform: uppercase;
}
h1{
    font-size: 2.5625em;
    margin-bottom: 8px;
}
h2{
    font-size: 50px;
    text-transform: uppercase;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 22px;
    font-family: $semibold;
}
ul{
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
    display: block;
    font-size: 20px;
}
p{
    font-size: 20px;
    line-height: 1.5;
    &.bold{
        font-size: 24px;
        font-family: $medium;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}
.tittle{
    text-align: center;
    margin-bottom: 50px;
}
.container{
    padding: 0 20px;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}
.btn{
    padding: 18px 32px;
    border-radius: 5px;
    color: $verde;
    text-align: center;
    margin: 22px 0;
    font-size: 20px;
    font-family: $semibold;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    &.green{
        background-color: $verde;
        color: $beige;
        &:hover{
            background-color: $beige;
            color: $verde;
        }
    }
    &.line{
        border: 2px solid $verde;
        &:hover{
            border: 2px solid $beige;
            color: $beige;
        }
    }
}
.desk{
    display: none;
}
.cuore,
.gret,
.hidrocon{
    .box_img_item{
        background-size: cover;
        background-position: center;
        height: 500px;            
    }
}
.cuore{
    .box_img_item{
        background-image: url('./img/cuore_bg_mb.png');
    }
}
.gret{
    .box_img_item{
        background-image: url('./img/gret_bg_mb.png');
    }
}
.hidrocon{
    .box_img_item{
        background-image: url('./img/hidrocon_bg_mb.png');
    }
}
@media only screen and (min-width: 768px) {
    h2{
        font-size: 70px;
    }
    h3{
        font-size: 42px;
    }
    .tittle{
        margin-bottom: 50px;
        .tittle_shadow{
            text-align: left;
            font-size: 10rem;
            top: -75px;
            left: -10px;
        }
        h2{
            text-align: left;
        }
    }
    .desk{
        display: initial;
    }
    .mobile{
        display: none;
    }
    .btn{
        width: fit-content;
    }
}
@media only screen and (min-width: 1024px) {
    .cuore{
        .box_img_item{
            background-image: url('./img/cuore_bg.png');
        }
    }
    .gret{
        .box_img_item{
            background-image: url('./img/gret_bg.png');
        }
    }
    .hidrocon{
        .box_img_item{
            background-image: url('./img/hidrocon_bg.png');
        }
    }
}

