<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png")
        link(rel="icon" type="image/svg+xml" href="img/favicon_1.svg")
        link(rel="shortcut icon" type="image/x-icon" href="img/favicon_1.ico")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css')
        link(rel="stylesheet", href="css/style.css")
        title Portafolio Christy CCB
    body.proyectos
        include includes/header
        .proyecto_gret 
            .hero_gret
                .container 
                    .bg_gret
                        img(src="./img/logo_gret.png", alt="")
            .about_proyect
                .container
                    .item_portafolio
                        .info_item
                            .about_item 
                                p.bold sobre el proyecto
                                p Plataforma para subir contenido y venderlo en manera de “combos” (grupo de diversos contenidos)
                            .objective 
                                p.bold objetivo
                                p Renovar la página de carga de contenidos y hacerlo más amigable para un uso más sencillo por parte del usuario creador. 
                        .img_item
                            img(src="./img/gret_d.png", alt="")
            .interfaz 
                .container
                    .tittle
                        img.mobile(src="./img/vistas_m.png", alt="")
                        img.desk(src="./img/vistas_d.png", alt="")
                    .box_vistas
                        .vistas
                            h3 Antiguo diseño
                            a.open-popup(href="./img/gret_old.png") 
                                img(src="./img/gret_old.png", alt="")
                        .vistas
                            h3 propuesta actual
                            a.open-popup(href="./img/gret_new_full.png") 
                                img(src="./img/gret_new.png", alt="")
        .otros#portafolio 
            .container 
                .tittle
                    img.mobile(src="./img/otros_m.png", alt="")
                    img.desk(src="./img/otros_d.png", alt="")
                .box_otros
                    a(href="./cuore.html").item_otros.cuore
                        .box_img_item
                        .info_item
                            h3  CUORE SPORT
                            .btn.green Ver proyecto
                    a(href="./hidrocon.html").item_otros.hidrocon
                        .box_img_item
                        .info_item
                            h3  hidrocon
                            p   Crear una tienda virtual para la venta de productos para el manejo del agua.
                            .btn.green Ver proyecto
        include includes/contactame
        include includes/footer
    script(src="js/plugins/jquery.3.6.3.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    script(src="js/script.js")