<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css')
        link(rel="stylesheet", href="css/style.css")
        title Portafolio Christy CCB
    body.proyectos
        include includes/header
        .proyecto_hidrocon 
            .hero_hidrocon
                .container 
                    .bg_hidrocon
                        img(src="../img/logo_hidrocon.png", alt="")
            .about_proyect
                .container
                    .item_portafolio
                        .info_item
                            .about_item 
                                p.bold sobre el proyecto
                                p Crear una tienda virtual para la venta de productos para el manejo del agua.
                            .objective 
                                p.bold objetivo
                                p Creación de una tienda virtual sencilla en la que se pueda hacer un completo flujo de compra de productos y/o servicios.
                        .img_item
                             img(src="../img/hidrocon_d.png", alt="")
            .tipografia 
                .container 
                    .tittle
                        img.mobile(src="../img/tipografia_m.png", alt="")
                        img.desk(src="../img/tipografia_d.png", alt="")
                    .fuentes 
                        img(src="../img/montserrat_font_d.png", alt="")
            .wireframes 
                .container 
                    .tittle
                        img.mobile(src="../img/wireframes_m.png", alt="")
                        img.desk(src="../img/wireframes_d.png", alt="")
                    .box_wireframes
                        a.open-popup(href="../img/w_hidro1.png") 
                            img(src="../img/w_hidro1.jpg", alt="") 
                        a.open-popup(href="../img/w_hidro3.png") 
                            img(src="../img/w_hidro3.jpg", alt="")
                        a.open-popup(href="../img/w_hidro4.png") 
                            img(src="../img/w_hidro4.jpg", alt="")
                        a.open-popup(href="../img/w_hidro5.png") 
                            img(src="../img/w_hidro5.jpg", alt="")    
            .interfaz 
                .container 
                    .tittle
                        img.mobile(src="../img/vistas_m.png", alt="")
                        img.desk(src="../img/vistas_d.png", alt="")
                    .box_interfaz
                        a.open-popup(href="../img/i_hidrocon1.png") 
                            img(src="../img/hidrocon_bg.png", alt="")
        .otros 
            .container 
                .tittle
                    img.mobile(src="../img/otros_m.png", alt="")
                    img.desk(src="../img/otros_d.png", alt="")
                .box_otros
                    a(href="./gret.html").item_otros.gret
                        .box_img_item
                        .info_item
                            h3  gret
                            p   Plataforma para subir contenidos y/o servicios.
                            .btn.green Ver proyecto
                    a(href="./cuore.html").item_otros.cuore
                        .box_img_item
                        .info_item
                            h3  CUORE SPORT
                            .btn.green Ver proyecto
        include includes/contactame
        include includes/footer
    script(src="js/plugins/jquery.3.6.3.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    script(src="js/script.js")