<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png")
        link(rel="apple-touch-icon" href="img/favicon.ico")
        link(rel="stylesheet", href="css/style.css")
        title Portafolio Christy CCB
    body.home
        include includes/header
        .hero   
            .container
                .box_hero 
                    .img_hero
                        img(src="./img/gatobg_d.png", alt="" width="100%")
                    .text_hero 
                        p.saludo Hola, soy christy ccb y soy
                        p.texto_ux Diseñadora UX/UI
                        .btn_hero 
                            a.btn.line(href="#portafolio") Portafolio  
                            a.btn.green(href="#contactame") Contacto
        section#about.about
            .container
                .tittle
                    img.mobile(src="./img/sobre_m.png", alt="")
                    img.desk(src="./img/sobre_d.png", alt="")
                .box_about
                    .box_uno
                        .about_me 
                            .img_about
                                img(src="./img/perfil.jpg", alt="")
                            .text_about 
                                p Mi nombre completo es Margarita Christy Castro Cuba Bazan
                                p Soy muy entusiasta a la hora de escuchar a las personas, esto hace posible que pueda empatizar con clientes y formar rápidamente equipo con ellos. 
                                p Cuento con amplios conocimientos en desarrollo web y actualmente llevo desempeñándome en el campo de Usabilidad de usuario y UX/UI.
                        .educacion
                            .tittle_educacion 
                                h4 educación
                            .box_educacion
                            .item_educacion
                                .icon_huella
                                    svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.09962 5.97281C3.61695 7.01473 3.40587 8.10845 2.62815 8.41571C1.85044 8.72297 0.800602 8.12741 0.283272 7.08549C-0.234057 6.04357 -0.0229758 4.94984 0.754736 4.64259C1.53245 4.33533 2.58229 4.93089 3.09962 5.97281Z' fill='#DEEEEA')
                                        path(d='M10.4479 10.9262C10.4479 13.121 7.66192 11.6491 6.93759 11.6491C6.21326 11.6491 2.32724 13.6679 2.32724 11.4731C2.32724 9.86878 4.76617 6.82669 6.33927 6.82669C8.00899 6.82669 10.4479 9.71077 10.4479 10.9262Z' fill='#DEEEEA')
                                        path(d='M5.83029 2.93685C6.12199 4.18636 5.6895 5.32356 4.8643 5.47684C4.03909 5.63013 3.13367 4.74146 2.84197 3.49194C2.55028 2.24242 2.98277 1.10522 3.80797 0.951939C4.63317 0.798654 5.5386 1.68733 5.83029 2.93685Z' fill='#DEEEEA')
                                        path(d='M6.81099 2.93685C6.5193 4.18636 6.95179 5.32356 7.77699 5.47684C8.60219 5.63013 9.50762 4.74146 9.79931 3.49194C10.091 2.24242 9.65852 1.10522 8.83331 0.951939C8.00811 0.798655 7.10269 1.68733 6.81099 2.93685Z' fill='#DEEEEA')
                                        path(d='M9.53305 6.35757C9.10978 7.43274 9.41724 8.50813 10.2198 8.75953C11.0223 9.01092 12.016 8.34311 12.4393 7.26794C12.8625 6.19277 12.5551 5.11737 11.7526 4.86598C10.95 4.61459 9.95632 5.2824 9.53305 6.35757Z' fill='#DEEEEA')
                                .datos_educacion
                                    .fecha 2023
                                    .institucion netzun
                                    .curso Especialización en Diseño UX/Marketing Digital
                            .item_educacion
                                .icon_huella
                                    svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.09962 5.97281C3.61695 7.01473 3.40587 8.10845 2.62815 8.41571C1.85044 8.72297 0.800602 8.12741 0.283272 7.08549C-0.234057 6.04357 -0.0229758 4.94984 0.754736 4.64259C1.53245 4.33533 2.58229 4.93089 3.09962 5.97281Z' fill='#DEEEEA')
                                        path(d='M10.4479 10.9262C10.4479 13.121 7.66192 11.6491 6.93759 11.6491C6.21326 11.6491 2.32724 13.6679 2.32724 11.4731C2.32724 9.86878 4.76617 6.82669 6.33927 6.82669C8.00899 6.82669 10.4479 9.71077 10.4479 10.9262Z' fill='#DEEEEA')
                                        path(d='M5.83029 2.93685C6.12199 4.18636 5.6895 5.32356 4.8643 5.47684C4.03909 5.63013 3.13367 4.74146 2.84197 3.49194C2.55028 2.24242 2.98277 1.10522 3.80797 0.951939C4.63317 0.798654 5.5386 1.68733 5.83029 2.93685Z' fill='#DEEEEA')
                                        path(d='M6.81099 2.93685C6.5193 4.18636 6.95179 5.32356 7.77699 5.47684C8.60219 5.63013 9.50762 4.74146 9.79931 3.49194C10.091 2.24242 9.65852 1.10522 8.83331 0.951939C8.00811 0.798655 7.10269 1.68733 6.81099 2.93685Z' fill='#DEEEEA')
                                        path(d='M9.53305 6.35757C9.10978 7.43274 9.41724 8.50813 10.2198 8.75953C11.0223 9.01092 12.016 8.34311 12.4393 7.26794C12.8625 6.19277 12.5551 5.11737 11.7526 4.86598C10.95 4.61459 9.95632 5.2824 9.53305 6.35757Z' fill='#DEEEEA')
                                .datos_educacion
                                    .fecha 2021 - 2022
                                    .institucion Repensar Educativo
                                    .curso UX Estratégico
                            .item_educacion
                                .icon_huella
                                    svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.09962 5.97281C3.61695 7.01473 3.40587 8.10845 2.62815 8.41571C1.85044 8.72297 0.800602 8.12741 0.283272 7.08549C-0.234057 6.04357 -0.0229758 4.94984 0.754736 4.64259C1.53245 4.33533 2.58229 4.93089 3.09962 5.97281Z' fill='#DEEEEA')
                                        path(d='M10.4479 10.9262C10.4479 13.121 7.66192 11.6491 6.93759 11.6491C6.21326 11.6491 2.32724 13.6679 2.32724 11.4731C2.32724 9.86878 4.76617 6.82669 6.33927 6.82669C8.00899 6.82669 10.4479 9.71077 10.4479 10.9262Z' fill='#DEEEEA')
                                        path(d='M5.83029 2.93685C6.12199 4.18636 5.6895 5.32356 4.8643 5.47684C4.03909 5.63013 3.13367 4.74146 2.84197 3.49194C2.55028 2.24242 2.98277 1.10522 3.80797 0.951939C4.63317 0.798654 5.5386 1.68733 5.83029 2.93685Z' fill='#DEEEEA')
                                        path(d='M6.81099 2.93685C6.5193 4.18636 6.95179 5.32356 7.77699 5.47684C8.60219 5.63013 9.50762 4.74146 9.79931 3.49194C10.091 2.24242 9.65852 1.10522 8.83331 0.951939C8.00811 0.798655 7.10269 1.68733 6.81099 2.93685Z' fill='#DEEEEA')
                                        path(d='M9.53305 6.35757C9.10978 7.43274 9.41724 8.50813 10.2198 8.75953C11.0223 9.01092 12.016 8.34311 12.4393 7.26794C12.8625 6.19277 12.5551 5.11737 11.7526 4.86598C10.95 4.61459 9.95632 5.2824 9.53305 6.35757Z' fill='#DEEEEA')
                                .datos_educacion
                                    .fecha 2020
                                    .institucion IDAT
                                    .curso Diseño Gráfico
                            .item_educacion
                                .icon_huella
                                    svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.09962 5.97281C3.61695 7.01473 3.40587 8.10845 2.62815 8.41571C1.85044 8.72297 0.800602 8.12741 0.283272 7.08549C-0.234057 6.04357 -0.0229758 4.94984 0.754736 4.64259C1.53245 4.33533 2.58229 4.93089 3.09962 5.97281Z' fill='#DEEEEA')
                                        path(d='M10.4479 10.9262C10.4479 13.121 7.66192 11.6491 6.93759 11.6491C6.21326 11.6491 2.32724 13.6679 2.32724 11.4731C2.32724 9.86878 4.76617 6.82669 6.33927 6.82669C8.00899 6.82669 10.4479 9.71077 10.4479 10.9262Z' fill='#DEEEEA')
                                        path(d='M5.83029 2.93685C6.12199 4.18636 5.6895 5.32356 4.8643 5.47684C4.03909 5.63013 3.13367 4.74146 2.84197 3.49194C2.55028 2.24242 2.98277 1.10522 3.80797 0.951939C4.63317 0.798654 5.5386 1.68733 5.83029 2.93685Z' fill='#DEEEEA')
                                        path(d='M6.81099 2.93685C6.5193 4.18636 6.95179 5.32356 7.77699 5.47684C8.60219 5.63013 9.50762 4.74146 9.79931 3.49194C10.091 2.24242 9.65852 1.10522 8.83331 0.951939C8.00811 0.798655 7.10269 1.68733 6.81099 2.93685Z' fill='#DEEEEA')
                                        path(d='M9.53305 6.35757C9.10978 7.43274 9.41724 8.50813 10.2198 8.75953C11.0223 9.01092 12.016 8.34311 12.4393 7.26794C12.8625 6.19277 12.5551 5.11737 11.7526 4.86598C10.95 4.61459 9.95632 5.2824 9.53305 6.35757Z' fill='#DEEEEA')
                                .datos_educacion
                                    .fecha 2016
                                    .institucion Laboratoria
                                    .curso Front - End Developer Jr
                            .item_educacion
                                .icon_huella
                                    svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3.09962 5.97281C3.61695 7.01473 3.40587 8.10845 2.62815 8.41571C1.85044 8.72297 0.800602 8.12741 0.283272 7.08549C-0.234057 6.04357 -0.0229758 4.94984 0.754736 4.64259C1.53245 4.33533 2.58229 4.93089 3.09962 5.97281Z' fill='#DEEEEA')
                                        path(d='M10.4479 10.9262C10.4479 13.121 7.66192 11.6491 6.93759 11.6491C6.21326 11.6491 2.32724 13.6679 2.32724 11.4731C2.32724 9.86878 4.76617 6.82669 6.33927 6.82669C8.00899 6.82669 10.4479 9.71077 10.4479 10.9262Z' fill='#DEEEEA')
                                        path(d='M5.83029 2.93685C6.12199 4.18636 5.6895 5.32356 4.8643 5.47684C4.03909 5.63013 3.13367 4.74146 2.84197 3.49194C2.55028 2.24242 2.98277 1.10522 3.80797 0.951939C4.63317 0.798654 5.5386 1.68733 5.83029 2.93685Z' fill='#DEEEEA')
                                        path(d='M6.81099 2.93685C6.5193 4.18636 6.95179 5.32356 7.77699 5.47684C8.60219 5.63013 9.50762 4.74146 9.79931 3.49194C10.091 2.24242 9.65852 1.10522 8.83331 0.951939C8.00811 0.798655 7.10269 1.68733 6.81099 2.93685Z' fill='#DEEEEA')
                                        path(d='M9.53305 6.35757C9.10978 7.43274 9.41724 8.50813 10.2198 8.75953C11.0223 9.01092 12.016 8.34311 12.4393 7.26794C12.8625 6.19277 12.5551 5.11737 11.7526 4.86598C10.95 4.61459 9.95632 5.2824 9.53305 6.35757Z' fill='#DEEEEA')
                                .datos_educacion
                                    .fecha 2011 - 2015
                                    .institucion Inteci
                                    .curso Administración hotelera y turística
                    .about_cv
                        .conocimientos 
                            .tittle_conocimientos 
                                h4 conocimientos
                            .box_conocimientos 
                                .column
                                    .item_conocimientos 
                                        .nombre XD
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre Illustrator
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre Photoshop
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre Figma
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas
                                    .item_conocimientos 
                                        .nombre HTML & CSS
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas
                                .column
                                    .item_conocimientos 
                                        .nombre Javascript & Jquery
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre Design thinking
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre AMP
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas
                                            + patas
                                    .item_conocimientos 
                                        .nombre Marketing
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas 
                                            + patas 
                                            + patas
                                    .item_conocimientos 
                                        .nombre Diseño web
                                        .nivel
                                            mixin patas
                                                include includes/pataVerde
                                            + patas
                                            + patas
                                            + patas
                                            mixin patas
                                                include includes/pataBlanco
                                            + patas 
                                            + patas 
                        .habilidades 
                            .tittle_habilidades
                                h4 habilidades
                            .box_habilidades
                                .item_habilidades
                                    .nombre Ilustración
                                    .nivel
                                        mixin patas
                                            include includes/pataVerde
                                        + patas
                                        + patas
                                        + patas
                                        + patas
                                        mixin patas
                                            include includes/pataBlanco
                                        + patas
                                .item_habilidades
                                    .nombre Formación continua
                                    .nivel
                                        mixin patas
                                            include includes/pataVerde
                                        + patas
                                        + patas
                                        + patas
                                        mixin patas
                                            include includes/pataBlanco
                                        + patas 
                                        + patas
                                .item_habilidades
                                    .nombre Creatividad
                                    .nivel
                                        mixin patas
                                            include includes/pataVerde
                                        + patas
                                        + patas
                                        + patas
                                        mixin patas
                                            include includes/pataBlanco
                                        + patas 
                                        + patas
                                .item_habilidades
                                    .nombre Responsabilidad
                                    .nivel
                                        mixin patas
                                            include includes/pataVerde
                                        + patas
                                        + patas
                                        + patas
                                        mixin patas
                                            include includes/pataBlanco
                                        + patas 
                                        + patas
                        .interes
                            .tittle_interes
                                h4 interes
                            .box_interes 
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/book.png", alt="")
                                    p Libros
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/pen.png", alt="")
                                    p Dibujar
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/airplane.png", alt="")
                                    p Viajes
                            .box_interes 
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/eat.png", alt="")
                                    p Comer
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/puzzle.png", alt="")
                                    p Rompecabezas
                                .item_interes 
                                    .icon_interes 
                                        img(src="./img/cat.png", alt="")
                                    p Gatos
        section#portafolio.portafolio 
            .container 
                .tittle
                    img.mobile(src="./img/portafolio_m.png", alt="")
                    img.desk(src="./img/portafolio_d.png", alt="")
                .box_portafolio 
                    a(href="./cuore.html").item_portafolio.cuore
                        .box_img_item
                        .info_item
                            h3  CUORE SPORT
                            p   Página web para inscripción en torneos de padel.
                            .btn.green Ver proyecto
                    a(href="./gret.html").item_portafolio.gret
                        .box_img_item
                        .info_item
                            h3  gret
                            p   Plataforma para subir contenidos y/o servicios.
                            .btn.green Ver proyecto
                    a(href="./hidrocon.html").item_portafolio.hidrocon
                        .box_img_item
                        .info_item
                            h3  HIDROCON
                            p   Crear una tienda virtual para la venta de productos para el manejo del agua.
                            .btn.green Ver proyecto
        include includes/contactame
        include includes/footer
    script(src="js/plugins/jquery.3.6.3.js")
    script(src="js/script.js")